@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Mona Sans';
		src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
			url('/fonts/Mona-Sans.woff2') format('woff2-variations');
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}
}

body {
	@apply font-primary;
	@apply bg-primaryBg text-black;
	.app_body {
		@apply w-default;
	}
}
h1 {
	@apply font-primary text-2xl font-extrabold tracking-widest md:text-4xl;
}

h2 {
	@apply font-primary text-xl md:text-3xl;
}

h3 {
	@apply font-primary text-lg md:text-2xl;
}

h4 {
	@apply font-primary text-base font-bold md:text-lg;
}

p,
a,
span,
button {
	@apply text-sm;
}
